<!DOCTYPE html>
<html>
<head>
    <title>Моя библиотека</title>
</head>
<body>
    <h1>Моя библиотека</h1>
    <h2>Последние 15 книг:</h2>
    <form action="/update_status" method="POST">
        <ul>
            {% for book in books %}
            <li>
                <input type="checkbox" name="book_id" value="{{ book.id }}">
                <label for="{{ book.id }}">{{ book.title }} - {{book.author}}  жанр  {{ book.genre.name }}
                </label>
                <input type="checkbox" id="{{ book.id }}" name="is_read" {% if book.is_read %}checked{% endif %}>
            </li>
            {% endfor %}
        </ul>

        <button type="submit">Сохранить</button>
    </form>
</body>
</html>
